<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!-- Traxxas Ford Fiesta ST Rally VXL -->
    <!-- PROPERTIES -->
    <xacro:property name="wheelbase" value="0.324" />

    <xacro:property name="wheel_radius" value="0.05" />
    <xacro:property name="wheel_width" value="0.043" />
    <xacro:property name="front_track" value="0.235" />
    <xacro:property name="rear_track" value="0.235" />
    <xacro:property name="max_steering_angle" value="0.5" />
    <xacro:property name="max_programmed_steering_angle" value="0.4" />

    <xacro:property name="base_mass" value="2.8"/>
    <xacro:property name="wheel_mass" value="0.06"/>
    <xacro:property name="platform_mass" value="1.2"/>

    <xacro:property name="platform_height" value="0.005"/>



    <!-- VISUALIZATION COLORS -->
    <material name="white">
        <color rgba="1.0 1.0 1.0 1" />
    </material>
    <material name="black">
        <color rgba="0.1 0.1 0.1 1" />
    </material>
    <material name="grey">
        <color rgba="0.5 0.5 0.5 1" />
    </material>
    <material name="red">
        <color rgba="1.0 0.0 0 1" />
    </material>
    <material name="green">
        <color rgba="0.0 0.5 0 1" />
    </material>
    <material name="blue">
        <color rgba="0 0 0.5 1" />
    </material>
    <material name="yellow">
        <color rgba="1.0 1.0 0 1" />
    </material>
    <material name="orange">
        <color rgba="1.0 0.5 0 1" />
    </material>


</robot>