<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    
    <!-- FOOTPRINT (Projection of rear axle center on the ground)-->
    <link name="base_footprint"></link>
    <!-- BASE LINK (Center between front and rear axle) -->
    <link name="base_link">
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <box size="${wheelbase} 0.01 0.01"/>
            </geometry>
            <material name="red" />
        </visual>
    </link>
    <joint name="base_joint" type="fixed">
        <parent link="base_footprint" />
        <child link="base_link" />
        <origin xyz="${wheelbase / 2} 0 ${wheel_radius}" rpy="0 0 0" />
    </joint>



    <!-- REAR AXLE & WHEELS -->
    <link name="rear_axle_link">
        <visual>
            <origin xyz="0 0 0" rpy="${pi/2} 0 0" />
            <geometry>
                <cylinder length="${rear_track}" radius="0.005" />
            </geometry>
            <material name="green" />
        </visual>
    </link>
    <joint name="rear_axle_joint" type="fixed">
        <parent link="base_link" />
        <child link="rear_axle_link" />
        <origin xyz="${-(wheelbase) / 2} 0 0" rpy="0 0 0" />
    </joint>
    <!-- BR Wheel -->
    <xacro:wheel_link prefix="rear_right" />
    <joint name="rear_right_wheel_joint" type="continuous">
        <parent link="rear_axle_link" />
        <child link="rear_right_wheel_link" />
        <origin xyz="0 ${-(rear_track / 2)} 0" rpy="0 0 0" />
        <axis xyz="0 1 0" />
    </joint>
    <!-- BL Wheel -->
    <xacro:wheel_link prefix="rear_left" />
    <joint name="rear_left_wheel_joint" type="continuous">
        <parent link="rear_axle_link" />
        <child link="rear_left_wheel_link" />
        <origin xyz="0 ${(rear_track / 2)} 0" rpy="0 0 0" />
        <axis xyz="0 1 0" />
    </joint>



    <!-- FRONT AXLE & WHEELS -->
    <link name="front_axle_link">
        <visual>
            <origin xyz="0 0 0" rpy="${pi/2} 0 0" />
            <geometry>
                <cylinder length="${front_track}" radius="0.005" />
            </geometry>
            <material name="green" />
        </visual>
    </link>
    <joint name="front_axle_joint" type="fixed">
        <parent link="base_link" />
        <child link="front_axle_link" />
        <origin xyz="${wheelbase / 2} 0 0" rpy="0 0 0" />
    </joint>
    <!-- FR Wheel -->
    <xacro:steering_link prefix="front_right" />
    <joint name="front_right_steer_joint" type="revolute">
        <parent link="front_axle_link" />
        <child link="front_right_steering_link" />
        <origin xyz="0 ${-((front_track / 2)-(wheel_width / 2))} 0" rpy="0 0 0" />
        <axis xyz="0 0 1" />
        <limit lower="-${max_steering_angle}" upper="${max_steering_angle}" effort="200" velocity="20" />
    </joint>
    <xacro:wheel_link prefix="front_right" />
    <joint name="front_right_wheel_joint" type="continuous">
        <parent link="front_right_steering_link" />
        <child link="front_right_wheel_link" />
        <origin xyz="0 ${-(wheel_width / 2)} 0" rpy="0 0 0" />
        <axis xyz="0 1 0" />
    </joint>
    <!-- FL Wheel -->
    <xacro:steering_link prefix="front_left" />
    <joint name="front_left_steer_joint" type="revolute">
        <parent link="front_axle_link" />
        <child link="front_left_steering_link" />
        <origin xyz="0 ${((front_track / 2)-(wheel_width / 2))} 0" rpy="0 0 0" />
        <axis xyz="0 0 1" />
        <limit lower="-${max_steering_angle}" upper="${max_steering_angle}" effort="200" velocity="20" />
    </joint>
    <xacro:wheel_link prefix="front_left" />
    <joint name="front_left_wheel_joint" type="continuous">
        <parent link="front_left_steering_link" />
        <child link="front_left_wheel_link" />
        <origin xyz="0 ${wheel_width / 2} 0" rpy="0 0 0" />
        <axis xyz="0 1 0" />
    </joint>
</robot>